.container {
  width: 700px;
  height: 500px;
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gameArea {
  width: 500px;
  height: 500px;
  border: 1px solid black;
  position: relative;
}

.ball,
.teleport,
.whole,
.food {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
}

.ball {
  background-color: green;
}

.whole {
  width: 30px;
  height: 30px;
  background-color: black;
}

.teleport {
  width: 30px;
  height: 30px;
  background-color: gray;
}

.food {
  background-color: pink;
  border: 2px solid yellow;
}

.gameOver {
  display: none;
  text-transform: uppercase;
  font-size: 100px;
  font-family: Arial, Helvetica, sans-serif;
  color: red;
  font-weight: bold;
}

.text,
.start {
  margin-left: 50px;
  font-weight: bold;
  font-family: arial;
  text-transform: uppercase;
}
